@model List<MaxService_1.Models.Producto.Llanta>

<head>
    <link rel="stylesheet" href="~/css/estilo.css" />
</head>

<div class="text-center container row-1 my-4">
    <h1 style="margin-bottom: 5%;">CATALOGO</h1>
</div>

<div class="CajaGeneral row text-center">
    @foreach (var item in Model)
    { 
        <div class="cajaP col-md-39 product-men mt-md-0 mt-5">
        
            <img class="imagenP" src="@item.DetalleLlanta.FotoLlanta">
            <div class="infoP">
                <h3>@item.DetalleLlanta.NombreMarca</h3>
                <h4 style="color: red;">S/ @item.Precio</h4>
                <h5><strong>Stock: </strong>@item.Stock</h5>
                <h5><strong>Categoria: </strong>@item.Vehiculo.TipoVehiculo</h5>
                <table class="table border">
                    <tr>
                        <th>Ancho</th>
                        <th>Diametro</th>
                        <th>Perfil</th>
                        <th>Milimetro Cocada</th>
                    </tr>
                    <tr>
                        <td>@item.DetalleLlanta.MedidaLlanta.Ancho</td>
                        <td>@item.DetalleLlanta.MedidaLlanta.Diametro</td>
                        <td>@item.DetalleLlanta.MedidaLlanta.Perfil</td>
                        <td>@item.DetalleLlanta.MedidaLlanta.MmCocada</td>
                    </tr>
                </table>
                
            </div>
            <div>
                <a href="/Producto/Detalle/@item.LlantaId" class="btnDetalle btn btn-info text-white">Detalle</a>
                <a href="/ventas/Agregar/@item.LlantaId" class="btnAgregar btn btn-success text-white">Añadir a la Lista</a>
            </div>
        </div>
    }

</div>