@{
    Layout = null;
}

@model List<MaxService.Models.Listado.Listar>

<head>
    <link rel="stylesheet" href="~/css/estilo.css" />
    <link rel="stylesheet" href="~/css/TablasEstilos.css" />
</head>

<div class="text-center" style="margin-bottom: 25%; ">
    <table class="table border">
        <tr>
            <th>Marca</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Construccion</th>
            <th>Fecha de Fabricacion</th>
            <th>Ancho</th>
            <th>Diametro</th>
            <th>Perfil</th>
            <th>Milimetro Cocada</th>
            <th>Total</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Marca</td>
                <td>@item.Precio</td>
                <td>@item.Cantidad</td>
                <td>@item.Construccion</td>
                <td>@item.FechaFabricacion</td>
                <td>@item.Ancho</td>
                <td>@item.Diametro</td>
                <td>@item.Perfil</td>
                <td>@item.MmCocada</td>
                <td>@item.Total</td>
            </tr>
        }

    </table>
</div>