@model List<MaxService.Models.Cliente.Registro>

<head>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body>

    <div class="m-0 w-100 text-center  " style="font-size: 150%;display: flex;justify-content: center;">

        @foreach (var item in Model)
        {
            <div class="border w-50" style="box-shadow: black 0px 0px 2px 2px;">
                <div style=" display: flex;justify-content: center;">
                    <h1 class="font-weight-bold" style=" display: flex;justify-content: center;font-size:200%">TICKET NRO-00
                        <p>@item.RegistroId
                        </p>
                    </h1>
                </div>
                <div style="display: flex;justify-content: center;">
                    <p><br></p>
                    <p></p>
                    <p></p>
                    <span style="text-align: center;">
                        <p><strong>Empresa: </strong>
                            <label>SERVIMAQ S.A.C</label>
                        </p>

                        <p><strong>Fecha de
                                Pedido: </strong>
                            @item.FechaActual</p>
                        <p><strong>Para: </strong>
                            @item.Nombre @item.Apellido</p>
                        <p><strong>Fecha de entrega: </strong> @item.FechaEntrega
                        </p>
                        <div style="display: flex;justify-content: center;margin: 15px;">
                            <button class="btn btn-outline-info" style="margin-bottom: 25;" onclick="window.print()">
                                IMPRIMIR</button>
                        </div>

                        <div style="display: flex;justify-content: center;">
                            <button class="btn btn-info" style="margin-bottom:10%;" margin-left: 15px;">Cancelar
                                Orden</button>
                            <button class="btn btn-success " style="margin-left: 15px; margin-bottom:10%;">Finalizar y
                                Enviar</button>
                        </div>

                    </span>
                </div>
            </div>
        }
    </div>
</body>
