@model List<MaxService_1.Models.Producto.DetalleLlanta>

<head>
    <link rel="stylesheet" href="~/css/estilo.css" />
</head>

<div class="text-center container row-1 my-4">
    <h1 style="margin-bottom: 5%;">Lista de Detalle de las Llantas</h1>
</div>

<table class="text-center table" style="width: 1500px; ">
    <tr>
        <th>Id</th>
        <th>Indice de Carga</th>
        <th>Indice de Velocidad</th>
        <th>Foto</th>
        <th>Construccion</th>
        <th>Presion Maxima</th>
        <th>Limite de Carga</th>
        <th>Clasificacion</th>
        <th>Codigo UTQG</th>
        <th>Fecha de Fabricacion</th>
        <th>Medidas Id</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DetalleLlantaId</td>
            <td>@item.IndiceCarga</td>
            <td>@item.IndiceVelocidad</td>
            <td> <img src="@item.FotoLlanta" width="150px"> </td>
            <td>@item.Construccion</td>
            <td>@item.PresionMaxima</td>
            <td>@item.LimiteCarga</td>
            <td>@item.Clasificacion</td>
            <td>@item.CodigoUTQG</td>
            <td>@item.FechaFabricacion</td>
            <td>@item.MedidaLlantaId</td>

            <td>
                <a href="/Administrador/ModificarDetalleLlanta/@item.DetalleLlantaId" class="btn btn-secondary"> <img src="/img/logos/logoEditar.png" width="25px"> </a>
                <form action="/Administrador/EliminarDetalleLlanta" method="post" class="d-inline-block">
                    <input type="hidden" name="id" value="@item.DetalleLlantaId" />
                    <button class="btn btn-secondary"><img src="/img/logos/logoBorrar.png" width="25px"></button>
                </form>
            </td>
        </tr>
    }
    @if (Model.Count == 0) {
        <tr>
            <td colspan="12" class="text-center">
                <h3 style="color: blue;" class="m-5"> Upps... Parece que no tenemos Detalles de las llantas</h3>
            </td>
        </tr>
    }
</table>

<a href="/Administrador/RegistrarDetalleLlanta" class="btn btn-primary">Añadir Detalle de Nueva Llanta</a>