@model List<MaxService_1.Models.Producto.Llanta>

<head>
    <link rel="stylesheet" href="~/css/estilo.css">
</head>

<header class="position-static">
    <nav class="navbar navbar-expand  bg-white border-bottom mb-3">
        <div class="container ">
            @* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MaxService</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> *@
            <div class="navbar-collapse collapse ">
                <ul class="navbar-nav  justify-content-between">
                    <div class="Barra d-flex " >
                        <li class="nav-item col-3 ">
                            <a class="Item nav-link text-dark" asp-area="" asp-controller="Administrador" asp-action="MarcaVehiculo">Marcas de Vehiculos</a>
                        </li>
                        <li class=" nav-item col-2" style="padding-left: 2.5%; padding-top: 1.5%;">
                            <a class="Item nav-link text-dark" asp-area="" asp-controller="Administrador" asp-action="Vehiculo">Vehiculos</a>
                        </li>
                        <li class=" nav-item col-2">
                            <a class="Item nav-link text-dark" asp-area="" asp-controller="Administrador" asp-action="MedidaLlanta">Medidas de Llantas</a>
                        </li>
                        <li class=" nav-item col-3">
                            <a class="Item nav-link text-dark" asp-area="" asp-controller="Administrador" asp-action="DetalleLlanta">Detalle de las Llantas</a>
                        </li>
                        <li class=" nav-item col-2 " style="padding-left: 4%; padding-top: 1.5%;">
                            <a class="Item nav-link text-dark"  asp-area="" asp-controller="Administrador" asp-action="Llanta">Llantas</a>
                        </li>
                    </div>
                        

                    <div class="d-flex " style="width: 25%;">
                        <li class="nav-item">
                            <p class="text-center font-weight-bold text-dark" style="margin-bottom: 0%;">Hola, bienvenido Adminisrador</p> 
                        </li>
                        <li class="nav-item">
                            <a class=" text-center font-weight-bold text-danger" style="margin-bottom: 0%;" asp-controller="Home" asp-action="Index">Salir</a> 
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="text-center container row-1 my-4">
    <h1 class="text-dark" style="margin-bottom: 5%;">Lista Llantas</h1>
</div>

<a href="/Administrador/RegistrarLlanta" class="btn btn-primary">Añadir Nueva Llanta</a>

<table class="text-center table" style="margin-bottom: 20%;">
    <tr>
        <th>Id</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Id Detalle Llanta</th>
        <th>Id Vehiculo</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.LlantaId</td>
            <td>@item.Precio</td>
            <td>@item.Stock</td>
            <td>@item.DetalleLlantaId</td>
            <td>@item.VehiculoId</td>
            <td>
                <a href="/Administrador/ModificarLlanta/@item.LlantaId" class="botonEE2 btn btn-secondary"> <img src="/img/logos/logoEditar.png" width="25px"> </a>
                <form action="/Administrador/EliminarLlanta" method="post" class="d-inline-block">
                    <input type="hidden" name="id" value="@item.LlantaId" />
                    <button class="botonEE2 btn btn-secondary"><img src="/img/logos/logoBorrar.png" width="25px"></button>
                </form>
            </td>
        </tr>
    }
    @if (Model.Count == 0) {
        <tr>
            <td colspan="12" class="text-center">
                <h3 style="color: blue;" class="m-5"> Upps... Parece que no tenemos Llantas nuevas</h3>
            </td>
        </tr>
    }
</table>

